## 4. 其他常用數據類型 (Part2)

#### a. 字典 (dict)
+ 基本概念
+ 字典索引
+ 字典的修改
+ 字典的進階操作

#### b. 集合 (set)
+ 基本概念
+ 集合的進階操作
+ 集合的數理應用

***

#### a. 字典 (dict)

* 基本概念

In [13]:
d = {
    1:'a',
    2:'b',
    '3':'c'
} 
type(d) #由key:value形式組成 字典內的key值是不能更改的，但value可以

dict

In [14]:
d

{1: 'a', 2: 'b', '3': 'c'}

In [4]:
list1 = ['apple','pen']
d = {
    1:'a',
    2:'b',
    list1:'c'
}               #字典內key值不能有list

TypeError: unhashable type: 'list'

In [36]:
t1 = ('apple','pen')
list1 = ['apple','pen']
d = {
    1:'a',
    2:'b',
    t1:'c'
}               
d           #字典內key值可以是tuple

{1: 'a', 2: 'b', ('apple', 'pen'): 'c'}

In [37]:
type(d)

dict

In [38]:
d = {
    1:'a',
    2:'b',
    t1:list1
}               
d

{1: 'a', 2: 'b', ('apple', 'pen'): ['apple', 'pen']}

In [11]:
type(d)

dict

* 字典索引

In [39]:
t1 = ('apple','pen')
list1 = ['apple','pen']
d = {
    1:'a',
    2:'b',
    t1:list1
}               
d

{1: 'a', 2: 'b', ('apple', 'pen'): ['apple', 'pen']}

In [40]:
d[2] #以Key值查找

'b'

In [41]:
d[('apple', 'pen')]

['apple', 'pen']

In [45]:
d[3]

KeyError: 3

In [44]:
print(d.get(3)) #建議用get的方式，避免程式出錯

None

* 字典的修改

In [46]:
t1 = ('apple','pen')
list1 = ['apple','pen']
d = {
    1:'a',
    2:'b',
    t1:list1
}

In [22]:
d[3] = '444' #新增key和value

In [23]:
d

{1: 'a', 2: 'b', ('apple', 'pen'): ['apple', 'pen'], 3: '444'}

In [24]:
d[('apple', 'pen')] ='Orange' #字典的替換

In [25]:
d

{1: 'a', 2: 'b', ('apple', 'pen'): 'Orange', 3: '444'}

In [26]:
d.pop(1) #字典的刪除(取後不放回)

'a'

In [27]:
d

{2: 'b', ('apple', 'pen'): 'Orange', 3: '444'}

* 字典的進階操作

In [86]:
d2 = {
    'name':'Michael',
    'age':51,
    'job':'singer'
}

In [87]:
d2.keys() #有哪些key

dict_keys(['name', 'age', 'job'])

In [88]:
d2.values() #有哪些values

dict_values(['Michael', 51, 'singer'])

In [89]:
d2.items() #以一對元組的方式呈現

dict_items([('name', 'Michael'), ('age', 51), ('job', 'singer')])

In [90]:
d3 = {
    'country':'USA',
    'weight':57,
    'height':175  
}

In [91]:
d2.update(d3) #新增另一組字典

In [92]:
d2

{'name': 'Michael',
 'age': 51,
 'job': 'singer',
 'country': 'USA',
 'weight': 57,
 'height': 175}

In [94]:
d4 = {**d2 , **d3}

In [95]:
d4

{'name': 'Michael',
 'age': 51,
 'job': 'singer',
 'country': 'USA',
 'weight': 57,
 'height': 175}

In [97]:
d5 = {
    'weight':57.3,
    'height':175.5    
}

In [98]:
d6 = {**d4 , **d5} #一樣的key值 其value會被覆蓋掉

In [99]:
d6

{'name': 'Michael',
 'age': 51,
 'job': 'singer',
 'country': 'USA',
 'weight': 57.3,
 'height': 175.5}

***

#### b. 集合(set)

* 基本概念

In [100]:
s = {'name',
    'age',
    'job'}

In [101]:
type(s)

set

In [102]:
'name' in s

True

In [103]:
'country' in s

False

* 集合的進階操作

In [105]:
l = [ 'Jack' , 'Cindy' ,'Josh' , 'Jack' , 'Jack'] #去除重複的名字

In [108]:
s1 = set(l)

In [109]:
s1

{'Cindy', 'Jack', 'Josh'}

In [110]:
type(s1)

set

In [111]:
list(s1)

['Josh', 'Cindy', 'Jack']

In [114]:
s = {'name',
    'age',
    'job'}

In [116]:
s.add('country')
s.add('country')
s.add('country')
s

{'age', 'country', 'job', 'name'}

In [117]:
s.remove('job')
s

{'age', 'country', 'name'}

In [123]:
str1 = 'abcde'

In [124]:
set(str1) #無順序

{'a', 'b', 'c', 'd', 'e'}

* 集合的數理應用

In [125]:
s1 = {1 , 2 , 3 ,4}
s2 = {3 , 4 , 5 ,6}

In [126]:
s1 & s2 #集合(只留兩者都有的元素)

{3, 4}

In [127]:
s1 | s2 #全集(所有出現過的元素)

{1, 2, 3, 4, 5, 6}

In [128]:
s1 ^ s2 #扣除兩者都有的元素

{1, 2, 5, 6}

In [131]:
s1 - s2 #在S1裡面的元素，扣掉S2裡面也有的元素

{1, 2}

In [132]:
s2 - s1

{5, 6}