# Try it (Part1) !!
* 試試看你學會了多少
* 有些問題不是只有一種解法

***

<img src="1.jpg" width="90%">

####  Q1 在Python3中，計算 `14%2.0 `= ?

(a) 0.0

(b) 0

(c) 7.0

(d) 7

####  Q2 用字符串索引的方式完成下列答案

In [66]:
Name = 'Pablo Diego José Francisco de Paula Juan Nepomuceno María de los \
        Remedios Cipriano de la Santísima Trinidad Ruiz y Picasso'

In [67]:
Name[-7:]

'Picasso'

#### Q3 承上題，用字符串索引的方式完成下列答案

In [15]:
Name[:]

'Pablo Diego José Francisco de Paula Juan Nepomuceno María de los         Remedios Cipriano de la Santísima Trinidad Ruiz y Picasso'

'Pablo Diego José Francisco de Paula Juan Nepomuceno María de los         Remedios Cipriano de la Santísima Trinidad Ruiz y Picasso'

#### Q4 `name = 'BTC' price = 3000` 用字符串格式化完成下列答案

In [17]:
name = 'BTC'
price = 3000
text='{0} : {1}(USD)'.format(name,price)
text

'BTC : 3000(USD)'

'BTC : 3000(USD)'

#### Q5 `list1 = [ 1 , 2 , 3 ,4 ] , list2 = [4 , 5 , 6 ]` 請完成下列答案

In [ ]:
list1*2 + [4,5,6]

[1, 2, 3, 4, 1, 2, 3, 4, 4, 5, 6]

#### Q6 `list2 = [ 'Apple' , 1 , 2 ]`, 執行 `list2.remove(2) list2.append('3')` 後 `list2`= ?

(a) [ 'Apple' , 2 , 3 ]

(b) [ 'Apple' , 1 , 3 ]

(c) [ 'Apple' , 1 , '3' ]

(d) [ 'Apple' , 2 , 3 ]

#### Q7 `list3 = [ 11 , 22 , 33 , 44 , 77 ,88 ]` , 其長度跟最大值分別是?

In [15]:
list3 = [ 11 , 22 , 33 , 44 , 77 ,88 ]

In [24]:
len(list3) , max(list3)

(6, 88)

#### Q8 承上題，`list3 = [ 11 , 22 , 33 , 44 , 77 ,88 ]`, 請完成下列答案

In [70]:
list3 = [ 11 , 22 , 33 , 44 , 77 ,88 ]

In [71]:
list3.insert(4,55)
list3.insert(5,66)
list3

[11, 22, 33, 44, 55, 66, 77, 88]

#### Q9 下列哪一項不是元組`(tuple)`的特色?

(a) 可以利用`()`的方式來創建，`ex:( 1 , 2 , 3)`

(b) 讀寫速度快

(c) 缺乏可擴展性

(d) 元組內不能包含list的數據類型

#### Q10`d1 = {'name':'Kelly','gender':'female'}` , `d2 = {'country':'CHN'}` , 試著合併d1,d2

In [72]:
d1 = {'name':'Kelly','gender':'female'} 
d2 = {'country':'CHN'}

In [73]:
d1.update(d2)
d1

{'name': 'Kelly', 'gender': 'female', 'country': 'CHN'}

#### Q11 `d1 = {'n1':15,'n2':22}` , `d2 = {'n3':45}` , 請完成下列答案

In [74]:
d1 = {'n1':15,'n2':22} 
d2 = {'n3':45}

In [75]:
d2.items(),d2.values()

(dict_items([('n3', 45)]), dict_values([45]))

#### Q12 承上題，`d1 = {'n1':15,'n2':22}` , `tuple(d1.items())` = ?

(a) (('n1', 15), ('n2', 22))

(b) [('n1', 15), ('n2', 22)]

(c) 無法運行

(d) dict_items([('n1', 15), ('n2', 22)])

#### Q13 承上題，`d1 = {'n1':15,'n2':22}` , `list(d1.items())` = ?

(a) (('n1', 15), ('n2', 22))

(b) [('n1', 15), ('n2', 22)]

(c) 無法運行

(d) dict_items([('n1', 15), ('n2', 22)])

#### Q14 承上題，`d1 = {'n1':15,'n2':22}` , `print(d1.items())` = ?

(a) (('n1', 15), ('n2', 22))

(b) [('n1', 15), ('n2', 22)]

(c) 無法運行

(d) dict_items([('n1', 15), ('n2', 22)])

#### Q15 list、tuple、dict分別用什麼符號創建?

(a) [ ]、{ }、( )

(b) ( )、[ ]、{ }

(c)  [ ]、( )、{ }

(d) ( )、{ }、[ ]

#### Q16 中央氣象局對雨量分級的定義如下:
* 大雨：24小時累積雨量大於80毫米，或時雨量大於40毫米。
* 豪雨：24小時累積雨量達200毫米以上，或3小時累積雨量達100毫米以上。
* 大豪雨：24小時累積雨量達350毫米以上。
* 超大豪雨：24小時累積雨量達500毫米以上。<br>

     假設:<br>
     24小時累積雨量 = 219毫米<br>
     3小時累積雨量 = 80毫米<br>
     時雨量 = 52毫米<br>
     請利用`條件語句`建立一個雨量分級判斷的機制

In [154]:
rain_24 = 219
rain_3 = 80
rain = 52

if rain_24 >=500:
        print('超大豪雨') 
elif rain_24 >=350:
        print ('大豪雨')
elif rain_24>=200 or rain_3>=100:
        print ('豪雨')
elif rain_24>=80 or rain>=40:
        print ('大雨')
else :
        print ('無')

豪雨

#### Q17 以下為某一週電影熱度TOP10的列表，請利用`for循環語句`完成以下答案

In [ ]:
movie = ['玩具總動員 4','安娜貝爾回家囉','寄生上流','阿拉丁','安娜','復仇者聯盟:終局之戰','哥吉拉II怪獸之王',
        '極惡對決','X戰警：黑鳳凰','靠譜歌王']

In [46]:
for i in range(0,len(movie),1):
    print('Rank:{}'.format(i+1) ) #A1

Rank:1
Rank:2
Rank:3
Rank:4
Rank:5
Rank:6
Rank:7
Rank:8
Rank:9
Rank:10

In [59]:
for i in range(1,11,1):
    print('Rank:{}'.format(i) ) #A2

Rank:1
Rank:2
Rank:3
Rank:4
Rank:5
Rank:6
Rank:7
Rank:8
Rank:9
Rank:10

#### Q18 請利用`列表索引`的方式，完成以下答案

In [88]:
movie[0]

'玩具總動員 4'

#### Q19 請利用`movie list`和`for循環語句`完成以下答案

In [67]:
for i in range(1,len(movie),1):
    print('片名:{}'.format(movie[i]) ) #A1

片名:安娜貝爾回家囉
片名:寄生上流
片名:阿拉丁
片名:安娜
片名:復仇者聯盟:終局之戰
片名:哥吉拉II怪獸之王
片名:極惡對決
片名:X戰警：黑鳳凰
片名:靠譜歌王

#### Q20 請利用`movie list`和`for循環語句`完成以下答案

In [62]:
for i in range(0,len(movie),1):
    if i > 5 :
        print('Rank:{} 片名:{}'.format(i+1,movie[i]) ) 
        break                                                #A1

Rank:7 片名:哥吉拉II怪獸之王

In [64]:
for i in range(0,len(movie),1):
    if i == 6:
        print('Rank:{} 片名:{}'.format(i+1,movie[i]) )       #A2

Rank:7 片名:哥吉拉II怪獸之王

#### Q21 請利用`movie list`和`for循環語句`完成以下答案

In [16]:
movie = ['玩具總動員 4','安娜貝爾回家囉','寄生上流','阿拉丁','安娜','復仇者聯盟:終局之戰','哥吉拉II怪獸之王',
        '極惡對決','X戰警：黑鳳凰','靠譜歌王']

In [37]:
for i in range(1,len(movie),2):
    print('偶數電影{}, 片名:{}'.format(i+1 ,movie[i]) ) #A1

偶數電影2, 片名:安娜貝爾回家囉
偶數電影4, 片名:阿拉丁
偶數電影6, 片名:復仇者聯盟:終局之戰
偶數電影8, 片名:極惡對決
偶數電影10, 片名:靠譜歌王

In [81]:
for i in range(1,len(movie),2):
    if i % 2 ==0: 
        continue
    print('偶數電影:{}, 片名:{}'.format(i+1 ,movie[i])) #A2

偶數電影:2, 片名:安娜貝爾回家囉
偶數電影:4, 片名:阿拉丁
偶數電影:6, 片名:復仇者聯盟:終局之戰
偶數電影:8, 片名:極惡對決
偶數電影:10, 片名:靠譜歌王

#### Q22 請利用`movie list`和`for循環語句`篩選出四個字的電影

In [84]:
for i in range(0,len(movie),1):
    if len(movie[i]) !=4:
        continue
    print('四個字的電影, 片名:{}'.format(movie[i])  ) #A1

四個字的電影, 片名:寄生上流
四個字的電影, 片名:極惡對決
四個字的電影, 片名:靠譜歌王

#### Q23 請利用`movie list`和`for循環語句`篩選出四個字的電影和非四個字的電影

In [97]:
for i in range(0,len(movie),1):
    if len(movie[i]) ==4:
        print('四個字的電影, 片名:{}'.format(movie[i])  ) #A2
    else:
        print('非四個字的電影,片名:{}'.format(movie[i]))

非四個字的電影,片名:玩具總動員 4
非四個字的電影,片名:安娜貝爾回家囉
四個字的電影, 片名:寄生上流
非四個字的電影,片名:阿拉丁
非四個字的電影,片名:安娜
非四個字的電影,片名:復仇者聯盟:終局之戰
非四個字的電影,片名:哥吉拉II怪獸之王
四個字的電影, 片名:極惡對決
非四個字的電影,片名:X戰警：黑鳳凰
四個字的電影, 片名:靠譜歌王

#### Q24 假設某位老師想利用學生的成績用python來寫一個簡單的判斷邏輯，其思路如下:
 * 考試成績最低分為50分，最高分為100分
 * 考試成績50分-59分為不及格，需要處罰學生罰站10分鐘
 * 考試成績60分-90分為及格，需要獎勵學生去操場玩
 * 考試成績90分以上，需要獎勵學生給他們100元去買糖果

In [111]:
score = 50
while score < 100:
    score += 1
    if score <60:
        print('考試成績:{} 不及格，罰站10分鐘!'.format(score))
    elif score >=90 :
        print('考試成績:{} 優秀!!，給你100元買糖果!'.format(score))
    else:
        print('考試成績:{} 及格，去操場玩!'.format(score))

考試成績:51 不及格，罰站10分鐘!
考試成績:52 不及格，罰站10分鐘!
考試成績:53 不及格，罰站10分鐘!
考試成績:54 不及格，罰站10分鐘!
考試成績:55 不及格，罰站10分鐘!
考試成績:56 不及格，罰站10分鐘!
考試成績:57 不及格，罰站10分鐘!
考試成績:58 不及格，罰站10分鐘!
考試成績:59 不及格，罰站10分鐘!
考試成績:60 及格，去操場玩!
考試成績:61 及格，去操場玩!
考試成績:62 及格，去操場玩!
考試成績:63 及格，去操場玩!
考試成績:64 及格，去操場玩!
考試成績:65 及格，去操場玩!
考試成績:66 及格，去操場玩!
考試成績:67 及格，去操場玩!
考試成績:68 及格，去操場玩!
考試成績:69 及格，去操場玩!
考試成績:70 及格，去操場玩!
考試成績:71 及格，去操場玩!
考試成績:72 及格，去操場玩!
考試成績:73 及格，去操場玩!
考試成績:74 及格，去操場玩!
考試成績:75 及格，去操場玩!
考試成績:76 及格，去操場玩!
考試成績:77 及格，去操場玩!
考試成績:78 及格，去操場玩!
考試成績:79 及格，去操場玩!
考試成績:80 及格，去操場玩!
考試成績:81 及格，去操場玩!
考試成績:82 及格，去操場玩!
考試成績:83 及格，去操場玩!
考試成績:84 及格，去操場玩!
考試成績:85 及格，去操場玩!
考試成績:86 及格，去操場玩!
考試成績:87 及格，去操場玩!
考試成績:88 及格，去操場玩!
考試成績:89 及格，去操場玩!
考試成績:90 優秀!!，給你100元買糖果!
考試成績:91 優秀!!，給你100元買糖果!
考試成績:92 優秀!!，給你100元買糖果!
考試成績:93 優秀!!，給你100元買糖果!
考試成績:94 優秀!!，給你100元買糖果!
考試成績:95 優秀!!，給你100元買糖果!
考試成績:96 優秀!!，給你100元買糖果!
考試成績:97 優秀!!，給你100元買糖果!
考試成績:98 優秀!!，給你100元買糖果!
考試成績:99 優秀!!，給你100元買糖果!
考試成績:100 優秀!!，給你100元買糖果!

#### Q25 `list1 = [11 , 22  , 33  , 44  , 55 ]` , `list2 = [66 , 77 , 88 , 99]`
     請建立一個函數，完成以下答案

In [142]:
list1 = [11 ,22 ,33 ,44 , 55]
list2 = [66 ,77 ,88 ,99]
even_number_list=[]

def even_number(a , b):
    c = a + b
    if not c:
        return(None)
    for item in c:
        if item %2 ==0:
            even_number_list.append(item)
    return even_number_list                    #A1

even_number(list1 , list2)

[22, 44, 66, 88]

In [153]:
list1 = [11 ,22 ,33 ,44 , 55]
list2 = [66 ,77 ,88 ,99]
even_number_list=[]

list3 = list1 + list2

def even_number(a):
    if not a:
        return(None)
    for item in a:
        if item %2 ==0:
            even_number_list.append(item)
    return even_number_list                   #A2

even_number(list3)

[22, 44, 66, 88]

#### Q26 同Q16 中央氣象局對雨量分級的定義如下:
* 大雨：24小時累積雨量大於80毫米，或時雨量大於40毫米。
* 豪雨：24小時累積雨量達200毫米以上，或3小時累積雨量達100毫米以上。
* 大豪雨：24小時累積雨量達350毫米以上。
* 超大豪雨：24小時累積雨量達500毫米以上。<br>

     假設:<br>
     24小時累積雨量 = 219毫米<br>
     3小時累積雨量 = 80毫米<br>
     時雨量 = 52毫米<br>
     請利用`函數`建立一個雨量分級判斷的機制

In [155]:
def rain_type(rain_24,rain_3,rain_1):
    if rain_24 >=500:
            return('超大豪雨') 
    elif rain_24 >=350:
            return('大豪雨')
    elif rain_24>=200 or rain_3>=100:
            return('豪雨')
    elif rain_24>=80 or rain_1>=40:
            return ('大雨')
    else :
            return ('無')

rain_type(219 , 80 ,52)

#### Q27 延續上題，假如有一列表包含4組的雨量資料如下，請利用`函數`和`循環語句`完成以下答案

In [190]:
rain_list = [219 , 80 ,52 ,
             355 , 76 ,22 ,
             276 , 33 ,10 ,
             100 , 23 ,66]

In [191]:
def rain_type(list_number):
    if list_number[0] >=500:
            return('超大豪雨') 
    elif list_number[0] >=350:
            return('大豪雨')
    elif list_number[0] >=200 or list_number[1]>=100:
            return('豪雨')
    elif list_number[0] >=80 or list_number[2] >=40:
            return ('大雨')
    else :
            return ('無')

In [192]:
rain_type_list = []
for i in range(0,len(rain_list),3):
    rain_type_list.append( rain_type(rain_list[i:i+3])  ) 
rain_type_list

['豪雨', '大豪雨', '豪雨', '大雨']