## 3. 其他常用數據類型 (Part1)

#### a. 列表 (list)
+ 基本概念
+ 列表索引
+ 列表的進階操作
+ 列表的增減

#### b. 元組 (tuple)
+ 基本概念
+ 和 list 相同之處
+ 和 list 不同之處
+ 小結

***

#### a. 列表 (list)

* 基本概念

In [1]:
test = [12 ,15, 78]

In [3]:
test , type(test)

([12, 15, 78], list)

In [4]:
test = [12, '胡萬', 456.6, [11, 22, 33]]

In [5]:
test , type(test)

([12, '胡萬', 456.6, [11, 22, 33]], list)

* 列表索引

In [10]:
test[0]

12

In [12]:
test[0:2]

[12, '胡萬']

In [14]:
test[1]

'胡萬'

In [15]:
test[1][1]

'萬'

* 列表的進階操作

In [17]:
list1 = [12, 33, 44, 55, 66, 77]

In [18]:
print('list1的長度=',len(list1))

list1的長度= 6

In [19]:
print('list1的最大值',max(list1))

list1的最大值 77

In [20]:
print('list1裡面33這個元素出現了{}次'.format(list1.count(33)))

list1裡面33這個元素出現了1次

In [38]:
list2 = [1, 2, 3] # list的反轉

In [23]:
list2.reverse()

In [24]:
list2

[3, 2, 1]

In [25]:
list2

[3, 2, 1]

In [28]:
list2.sort()# list的排序(預測為正序)
list2

[1, 2, 3]

In [29]:
list2.sort(reverse = True)

In [30]:
list2

[3, 2, 1]

* 列表的增減

In [40]:
list2 = [1, 2, 3]
list2

[1, 2, 3]

In [41]:
list2.append(100) # 加入元素

In [42]:
list2

[1, 2, 3, 100]

In [43]:
list2.insert(2, 90)# 插入元素

In [44]:
list2

[1, 2, 90, 3, 100]

In [45]:
list2.remove(90) # 移除元素
list2

[1, 2, 3, 100]

In [46]:
list2[3] = 4 # 置換元素
list2

[1, 2, 3, 4]

In [50]:
str1 = 'Apple' #置換不適用於str
str1[0] = 'a'

TypeError: 'str' object does not support item assignment

***

#### b.元組 (tuple)

* 基本概念

In [52]:
t1 = (1, 2, 3)
t2 = 1, 2, 3
type(t1) , type(t2)

(tuple, tuple)

In [55]:
t3 = [1, 2, 3], #建議用()的方式
type(t3)

tuple

In [58]:
t1[1]

2

In [60]:
t1[1:3]

(2, 3)

* 和 list 相同之處

In [61]:
len(t1)

3

In [62]:
max(t1)

3

In [65]:
'出現{}次的1'.format(t1.count(1))

'出現1次的1'

* 和 list 不同之處

In [66]:
t1[0] = 1 #不支援置換

TypeError: 'tuple' object does not support item assignment

In [67]:
t1.reverse() #不支援反轉

AttributeError: 'tuple' object has no attribute 'reverse'

In [68]:
t1.sort() #不支援排序

AttributeError: 'tuple' object has no attribute 'sort'

In [69]:
t1.append(100) #不支援增減

AttributeError: 'tuple' object has no attribute 'append'

+ 小結:

    * 列表較元組為靈活，便於擴展
    * 元組的存取較快速
    * 元組具保護性，數據無法更動